openapi: 3.1.0
info:
  title: Court Booking Platform Service API
  description: |
    REST API contract for the Platform Service. Handles authentication, user management,
    court management, discovery, weather, analytics, promo codes, feature flags, and admin operations.
    
    Base path: All endpoints are prefixed and routed via NGINX Ingress.
    Authentication: Bearer JWT access token (RS256) unless marked as public.
    Currency: EUR
    Languages: el (Greek), en (English)
  version: 1.0.0
  contact:
    name: Court Booking Platform Team

servers:
  - url: https://api.courtbooking.gr
    description: Production
  - url: https://staging-api.courtbooking.gr
    description: Staging
  - url: http://localhost:8080
    description: Local development

tags:
  - name: Auth
    description: Authentication, token management, OAuth flows
  - name: Users
    description: User profile and account management
  - name: Courts
    description: Court registration, management, and discovery
  - name: Availability
    description: Court availability windows and overrides
  - name: Weather
    description: Weather forecast integration
  - name: Favorites
    description: Customer favorite courts and preferences
  - name: Ratings
    description: Court ratings and reviews
  - name: Analytics
    description: Revenue and usage analytics (court owner + admin)
  - name: Promo Codes
    description: Promotional code management
  - name: Pricing
    description: Dynamic pricing configuration
  - name: Feature Flags
    description: Platform feature flag management (PLATFORM_ADMIN)
  - name: Admin
    description: Platform admin operations (PLATFORM_ADMIN)
  - name: Stripe Connect
    description: Court owner payment onboarding
  - name: Support
    description: Support ticket submission and management
  - name: Subscription
    description: Court owner subscription billing management
  - name: Settings
    description: Court owner personal settings, notification preferences, and reminder rules
  - name: Dashboard
    description: Court owner dashboard overview
  - name: Audit Log
    description: Court owner audit trail
  - name: Search
    description: Global search across bookings, courts, and promo codes
  - name: Bulk Operations
    description: Bulk court and booking operations
  - name: Verification
    description: Court owner verification management
  - name: Security
    description: Security monitoring, abuse detection, and IP blocklist management (PLATFORM_ADMIN, SUPPORT_AGENT read-only)
  - name: Internal
    description: Internal service-to-service endpoints. Not exposed through NGINX Ingress. Authenticated via X-Internal-Api-Key (dev/test) or mTLS via Istio (staging/prod).

security:
  - BearerAuth: []

paths:

  # ─── Auth ───────────────────────────────────────────────────────────────────
  /api/auth/register:
    post:
      tags: [Auth]
      summary: Register a new user via OAuth
      description: Creates a new user account with OAuth provider info and selected role. Requires terms acceptance.
      security: []
      operationId: registerUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: User already exists with this OAuth provider
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Conflict'

  /api/auth/login:
    post:
      tags: [Auth]
      summary: Login via OAuth provider
      description: Authenticates user with OAuth token and returns JWT access + refresh token pair.
      security: []
      operationId: loginUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/auth/refresh:
    post:
      tags: [Auth]
      summary: Refresh access token
      description: |
        Exchanges a valid refresh token for a new access + refresh token pair.
        The old refresh token is invalidated (rotation). Replay detection: if an
        already-invalidated token is used, ALL tokens for the user are revoked.
      security: []
      operationId: refreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken:
                  type: string
                  description: Current refresh token
      responses:
        '200':
          description: Tokens refreshed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Refresh token invalid, expired, or replay detected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/auth/logout:
    post:
      tags: [Auth]
      summary: Logout and revoke tokens
      description: Revokes all refresh tokens for the user's current device.
      operationId: logoutUser
      responses:
        '204':
          description: Logged out successfully

  /api/auth/providers:
    get:
      tags: [Auth]
      summary: List linked OAuth providers
      description: Returns all OAuth providers linked to the authenticated user's account.
      operationId: getLinkedProviders
      responses:
        '200':
          description: List of linked providers
          content:
            application/json:
              schema:
                type: object
                properties:
                  providers:
                    type: array
                    items:
                      $ref: '#/components/schemas/OAuthProvider'

  /api/auth/providers/link:
    post:
      tags: [Auth]
      summary: Link additional OAuth provider
      description: Links a new OAuth provider to the authenticated user's account for alternative login.
      operationId: linkProvider
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkProviderRequest'
      responses:
        '200':
          description: Provider linked successfully
        '409':
          description: Provider already linked to another account

  # ─── Users ──────────────────────────────────────────────────────────────────
  /api/users/me:
    get:
      tags: [Users]
      summary: Get current user profile
      description: Returns the authenticated user's full profile including role, preferences, and subscription status.
      operationId: getCurrentUser
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
    put:
      tags: [Users]
      summary: Update user profile
      description: Updates name, email, phone, language preference, notification preferences.
      operationId: updateCurrentUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
      responses:
        '200':
          description: Profile updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/users/me/delete:
    post:
      tags: [Users]
      summary: Request account deletion
      description: |
        Initiates GDPR-compliant account deletion. Cancels future bookings, processes refunds,
        anonymizes personal data. Court owners must resolve all future bookings first.
      operationId: requestAccountDeletion
      responses:
        '202':
          description: Deletion request accepted and processing
        '409':
          description: Court owner has unresolved future bookings

  /api/users/me/preferences:
    get:
      tags: [Users]
      summary: Get user preferences
      description: Returns personalization settings (preferred days/times, search distance, notification config).
      operationId: getUserPreferences
      responses:
        '200':
          description: User preferences
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPreferences'
    put:
      tags: [Users]
      summary: Update user preferences
      operationId: updateUserPreferences
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserPreferences'
      responses:
        '200':
          description: Preferences updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPreferences'

  /api/users/me/skill-levels:
    get:
      tags: [Users]
      summary: Get player skill levels
      description: Returns skill levels per sport type (1-7 scale).
      operationId: getSkillLevels
      responses:
        '200':
          description: Skill levels
          content:
            application/json:
              schema:
                type: object
                properties:
                  skillLevels:
                    type: array
                    items:
                      $ref: '#/components/schemas/SkillLevel'
    put:
      tags: [Users]
      summary: Update player skill levels
      operationId: updateSkillLevels
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                skillLevels:
                  type: array
                  items:
                    $ref: '#/components/schemas/SkillLevel'
      responses:
        '200':
          description: Skill levels updated


  # ─── Courts ─────────────────────────────────────────────────────────────────
  /api/courts:
    get:
      tags: [Courts]
      summary: Search courts
      description: |
        Geospatial search for courts. Supports filtering by type, location type, distance,
        map bounds, and availability for a given date/time. Returns clustered results for map rendering.
      operationId: searchCourts
      parameters:
        - name: latitude
          in: query
          required: true
          schema:
            type: number
            format: double
          description: User's latitude
        - name: longitude
          in: query
          required: true
          schema:
            type: number
            format: double
          description: User's longitude
        - name: radiusKm
          in: query
          schema:
            type: number
            format: double
            default: 10
          description: Search radius in kilometers
        - name: courtType
          in: query
          schema:
            $ref: '#/components/schemas/CourtType'
          description: Filter by court type
        - name: locationType
          in: query
          schema:
            $ref: '#/components/schemas/LocationType'
          description: Filter by indoor/outdoor
        - name: date
          in: query
          schema:
            type: string
            format: date
          description: Filter by availability on this date
        - name: startTime
          in: query
          schema:
            type: string
            format: time
          description: Filter by availability starting at this time
        - name: minLat
          in: query
          schema:
            type: number
            format: double
          description: Map bounds - minimum latitude
        - name: maxLat
          in: query
          schema:
            type: number
            format: double
          description: Map bounds - maximum latitude
        - name: minLng
          in: query
          schema:
            type: number
            format: double
          description: Map bounds - minimum longitude
        - name: maxLng
          in: query
          schema:
            type: number
            format: double
          description: Map bounds - maximum longitude
        - name: page
          in: query
          schema:
            type: integer
            default: 0
        - name: size
          in: query
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: Court search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourtSearchResponse'
        '400':
          description: |
            Invalid request parameters. Error codes:
            - `INVALID_COORDINATES` — latitude/longitude outside valid range
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags: [Courts]
      summary: Register a new court
      description: Creates a new court. Requires COURT_OWNER role. Court visibility depends on owner verification status.
      operationId: createCourt
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCourtRequest'
      responses:
        '201':
          description: Court created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Court'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/courts/{courtId}:
    get:
      tags: [Courts]
      summary: Get court details
      description: Returns full court details including ratings, amenities, availability, cancellation policy, and weather (for outdoor courts).
      operationId: getCourtDetails
      parameters:
        - $ref: '#/components/parameters/CourtId'
        - name: date
          in: query
          schema:
            type: string
            format: date
          description: Date for availability and weather lookup
      responses:
        '200':
          description: Court details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourtDetail'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [Courts]
      summary: Update court details
      description: Updates court information. Requires COURT_OWNER role and ownership of the court.
      operationId: updateCourt
      parameters:
        - $ref: '#/components/parameters/CourtId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCourtRequest'
      responses:
        '200':
          description: Court updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Court'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: Changes conflict with existing bookings
    delete:
      tags: [Courts]
      summary: Remove a court
      description: Deletes a court. Only allowed if no future confirmed bookings exist. Requires COURT_OWNER role.
      operationId: deleteCourt
      parameters:
        - $ref: '#/components/parameters/CourtId'
      responses:
        '204':
          description: Court deleted
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: Court has future confirmed bookings

  /api/courts/{courtId}/images:
    post:
      tags: [Courts]
      summary: Upload court images
      description: Uploads images to Spaces. Validates file format and size.
      operationId: uploadCourtImages
      parameters:
        - $ref: '#/components/parameters/CourtId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                images:
                  type: array
                  items:
                    type: string
                    format: binary
                  maxItems: 10
      responses:
        '200':
          description: Images uploaded
          content:
            application/json:
              schema:
                type: object
                properties:
                  imageUrls:
                    type: array
                    items:
                      type: string
                      format: uri
        '400':
          description: Invalid file format or size

  /api/courts/{courtId}/confirmation-mode:
    put:
      tags: [Courts]
      summary: Set booking confirmation mode
      description: Sets court to "instant" or "manual" confirmation. Applies only to future bookings.
      operationId: setConfirmationMode
      parameters:
        - $ref: '#/components/parameters/CourtId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [mode]
              properties:
                mode:
                  type: string
                  enum: [INSTANT, MANUAL]
                confirmationTimeoutHours:
                  type: integer
                  default: 24
                  description: Hours before auto-cancel (only for MANUAL mode)
      responses:
        '200':
          description: Confirmation mode updated

  /api/courts/{courtId}/waitlist-config:
    put:
      tags: [Courts]
      summary: Enable/disable waitlist for a court
      operationId: setWaitlistConfig
      parameters:
        - $ref: '#/components/parameters/CourtId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [enabled]
              properties:
                enabled:
                  type: boolean
      responses:
        '200':
          description: Waitlist config updated

  /api/courts/{courtId}/transfer:
    post:
      tags: [Courts]
      summary: Transfer court ownership
      description: Transfers court to another verified court owner.
      operationId: transferCourtOwnership
      parameters:
        - $ref: '#/components/parameters/CourtId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [targetOwnerId]
              properties:
                targetOwnerId:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Ownership transferred
        '400':
          description: Target owner not verified

  /api/courts/owner/me:
    get:
      tags: [Courts]
      summary: List courts owned by current user
      description: Returns all courts belonging to the authenticated court owner.
      operationId: getOwnedCourts
      responses:
        '200':
          description: List of owned courts
          content:
            application/json:
              schema:
                type: object
                properties:
                  courts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Court'


  # ─── Availability ───────────────────────────────────────────────────────────
  /api/courts/{courtId}/availability:
    get:
      tags: [Availability]
      summary: Get court availability
      description: Returns available time slots for a court on a given date. Served from Redis cache with real-time updates.
      operationId: getCourtAvailability
      parameters:
        - $ref: '#/components/parameters/CourtId'
        - name: date
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: durationMinutes
          in: query
          schema:
            type: integer
          description: Override default duration for slot calculation
      responses:
        '200':
          description: Available time slots
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilityResponse'

  /api/courts/{courtId}/availability/windows:
    get:
      tags: [Availability]
      summary: Get recurring availability windows
      description: Returns the court's recurring weekly schedule. COURT_OWNER only.
      operationId: getAvailabilityWindows
      parameters:
        - $ref: '#/components/parameters/CourtId'
      responses:
        '200':
          description: Availability windows
          content:
            application/json:
              schema:
                type: object
                properties:
                  windows:
                    type: array
                    items:
                      $ref: '#/components/schemas/AvailabilityWindow'
    put:
      tags: [Availability]
      summary: Update recurring availability windows
      description: Sets the court's recurring weekly schedule. COURT_OWNER only.
      operationId: updateAvailabilityWindows
      parameters:
        - $ref: '#/components/parameters/CourtId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [windows]
              properties:
                windows:
                  type: array
                  items:
                    $ref: '#/components/schemas/AvailabilityWindow'
      responses:
        '200':
          description: Windows updated
        '400':
          description: Overlapping or invalid time ranges

  /api/courts/{courtId}/availability/overrides:
    get:
      tags: [Availability]
      summary: Get availability overrides
      description: Returns manual date/time overrides (maintenance, holidays, private events).
      operationId: getAvailabilityOverrides
      parameters:
        - $ref: '#/components/parameters/CourtId'
        - name: fromDate
          in: query
          schema:
            type: string
            format: date
        - name: toDate
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Overrides list
          content:
            application/json:
              schema:
                type: object
                properties:
                  overrides:
                    type: array
                    items:
                      $ref: '#/components/schemas/AvailabilityOverride'
    post:
      tags: [Availability]
      summary: Create availability override
      description: Blocks specific dates/times. May trigger cancellation of conflicting recurring bookings.
      operationId: createAvailabilityOverride
      parameters:
        - $ref: '#/components/parameters/CourtId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvailabilityOverride'
      responses:
        '201':
          description: Override created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilityOverride'

  /api/courts/{courtId}/availability/overrides/{overrideId}:
    delete:
      tags: [Availability]
      summary: Remove availability override
      operationId: deleteAvailabilityOverride
      parameters:
        - $ref: '#/components/parameters/CourtId'
        - name: overrideId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Override removed

  # ─── Weather ────────────────────────────────────────────────────────────────
  /api/weather:
    get:
      tags: [Weather]
      summary: Get weather forecast
      description: |
        Returns weather forecast for a location and date/time. Only available for dates within
        7-day window. Returns 404 with "not yet available" message for dates beyond range.
        Cached in Redis with 5-10 minute TTL.
      operationId: getWeatherForecast
      parameters:
        - name: latitude
          in: query
          required: true
          schema:
            type: number
            format: double
        - name: longitude
          in: query
          required: true
          schema:
            type: number
            format: double
        - name: date
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: time
          in: query
          schema:
            type: string
            format: time
      responses:
        '200':
          description: Weather forecast
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WeatherForecast'
        '404':
          description: Forecast not yet available (date beyond 7-day window)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ─── Map Aggregated Endpoint ────────────────────────────────────────────────
  /api/courts/map:
    get:
      tags: [Courts]
      summary: Aggregated map data
      description: |
        Single endpoint returning courts, open matches, and weather in one response.
        Optimized for map view rendering to minimize round trips.
      operationId: getMapData
      parameters:
        - name: latitude
          in: query
          required: true
          schema:
            type: number
            format: double
        - name: longitude
          in: query
          required: true
          schema:
            type: number
            format: double
        - name: radiusKm
          in: query
          schema:
            type: number
            format: double
            default: 10
        - name: minLat
          in: query
          schema:
            type: number
            format: double
        - name: maxLat
          in: query
          schema:
            type: number
            format: double
        - name: minLng
          in: query
          schema:
            type: number
            format: double
        - name: maxLng
          in: query
          schema:
            type: number
            format: double
        - name: courtType
          in: query
          schema:
            $ref: '#/components/schemas/CourtType'
        - name: locationType
          in: query
          schema:
            $ref: '#/components/schemas/LocationType'
        - name: date
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: startTime
          in: query
          schema:
            type: string
            format: time
      responses:
        '200':
          description: Aggregated map data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MapDataResponse'

  # ─── Favorites ──────────────────────────────────────────────────────────────
  /api/users/me/favorites:
    get:
      tags: [Favorites]
      summary: List favorite courts
      operationId: getFavorites
      responses:
        '200':
          description: Favorite courts
          content:
            application/json:
              schema:
                type: object
                properties:
                  favorites:
                    type: array
                    items:
                      $ref: '#/components/schemas/CourtSummary'

  /api/users/me/favorites/{courtId}:
    put:
      tags: [Favorites]
      summary: Add court to favorites
      operationId: addFavorite
      parameters:
        - $ref: '#/components/parameters/CourtId'
      responses:
        '204':
          description: Added to favorites
    delete:
      tags: [Favorites]
      summary: Remove court from favorites
      operationId: removeFavorite
      parameters:
        - $ref: '#/components/parameters/CourtId'
      responses:
        '204':
          description: Removed from favorites

  # ─── Ratings ────────────────────────────────────────────────────────────────
  /api/courts/{courtId}/ratings:
    get:
      tags: [Ratings]
      summary: Get court ratings and reviews
      operationId: getCourtRatings
      parameters:
        - $ref: '#/components/parameters/CourtId'
        - name: page
          in: query
          schema:
            type: integer
            default: 0
        - name: size
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Ratings and reviews
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RatingsResponse'
    post:
      tags: [Ratings]
      summary: Submit court rating and review
      description: Only allowed after a completed booking at this court. CUSTOMER role only.
      operationId: submitRating
      parameters:
        - $ref: '#/components/parameters/CourtId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRatingRequest'
      responses:
        '201':
          description: Rating submitted
        '400':
          description: No completed booking found for this court
        '409':
          description: Already rated this booking


  # ─── Pricing ────────────────────────────────────────────────────────────────
  /api/courts/{courtId}/pricing:
    get:
      tags: [Pricing]
      summary: Get dynamic pricing rules
      operationId: getPricingRules
      parameters:
        - $ref: '#/components/parameters/CourtId'
      responses:
        '200':
          description: Pricing rules
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricingRules'
    put:
      tags: [Pricing]
      summary: Update dynamic pricing rules
      description: Configure peak/off-peak multipliers by day and time. COURT_OWNER only.
      operationId: updatePricingRules
      parameters:
        - $ref: '#/components/parameters/CourtId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PricingRules'
      responses:
        '200':
          description: Pricing rules updated

  /api/courts/{courtId}/cancellation-policy:
    get:
      tags: [Pricing]
      summary: Get cancellation policy
      operationId: getCancellationPolicy
      parameters:
        - $ref: '#/components/parameters/CourtId'
      responses:
        '200':
          description: Cancellation policy tiers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancellationPolicy'
    put:
      tags: [Pricing]
      summary: Update cancellation policy
      description: |
        Configure time-based refund tiers. Platform fee is always non-refundable.
        If not configured, default policy applies (24h+=100%, 12-24h=50%, <12h=0%).
      operationId: updateCancellationPolicy
      parameters:
        - $ref: '#/components/parameters/CourtId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancellationPolicy'
      responses:
        '200':
          description: Policy updated

  # ─── Promo Codes ────────────────────────────────────────────────────────────
  /api/promo-codes:
    get:
      tags: [Promo Codes]
      summary: List promo codes
      description: Court owners see their own codes. PLATFORM_ADMIN sees all including platform-wide codes.
      operationId: listPromoCodes
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 0
        - name: size
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Promo codes list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromoCodeListResponse'
    post:
      tags: [Promo Codes]
      summary: Create promo code
      description: |
        COURT_OWNER creates court-level codes (scoped to their courts).
        PLATFORM_ADMIN creates platform-wide codes.
      operationId: createPromoCode
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePromoCodeRequest'
      responses:
        '201':
          description: Promo code created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromoCode'

  /api/promo-codes/{code}/validate:
    get:
      tags: [Promo Codes]
      summary: Validate a promo code
      description: Checks if a promo code is valid for a given court and booking. Used during booking flow.
      operationId: validatePromoCode
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
        - name: courtId
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - name: bookingDate
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Promo code validation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromoCodeValidation'

  # ─── Analytics ──────────────────────────────────────────────────────────────
  /api/analytics/revenue:
    get:
      tags: [Analytics]
      summary: Get revenue analytics
      description: |
        COURT_OWNER: revenue for own courts. PLATFORM_ADMIN: platform-wide revenue.
        Queries run against read replica to avoid impacting booking performance.
      operationId: getRevenueAnalytics
      parameters:
        - name: fromDate
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: toDate
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: courtId
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by specific court (optional)
        - name: courtType
          in: query
          schema:
            $ref: '#/components/schemas/CourtType'
      responses:
        '200':
          description: Revenue analytics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevenueAnalytics'

  /api/analytics/usage:
    get:
      tags: [Analytics]
      summary: Get usage analytics
      description: Booking patterns, peak hours, occupancy rates.
      operationId: getUsageAnalytics
      parameters:
        - name: fromDate
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: toDate
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: courtId
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Usage analytics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageAnalytics'

  /api/analytics/export:
    get:
      tags: [Analytics]
      summary: Export analytics report
      description: Download report in CSV or PDF format.
      operationId: exportAnalytics
      parameters:
        - name: format
          in: query
          required: true
          schema:
            type: string
            enum: [CSV, PDF]
        - name: reportType
          in: query
          required: true
          schema:
            type: string
            enum: [REVENUE, USAGE]
        - name: fromDate
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: toDate
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Report file
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary

  # ─── Feature Flags (PLATFORM_ADMIN) ─────────────────────────────────────────
  /api/feature-flags:
    get:
      tags: [Feature Flags]
      summary: List all feature flags
      description: Returns current state of all feature flags. Public endpoint returns only flag states; admin endpoint returns full config.
      operationId: getFeatureFlags
      responses:
        '200':
          description: Feature flags
          content:
            application/json:
              schema:
                type: object
                properties:
                  flags:
                    type: array
                    items:
                      $ref: '#/components/schemas/FeatureFlag'

  /api/feature-flags/{flagKey}:
    put:
      tags: [Feature Flags]
      summary: Update feature flag
      description: Enable/disable a feature flag. PLATFORM_ADMIN only.
      operationId: updateFeatureFlag
      parameters:
        - name: flagKey
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeatureFlag'
      responses:
        '200':
          description: Flag updated
        '403':
          $ref: '#/components/responses/Forbidden'

  # ─── Stripe Connect ────────────────────────────────────────────────────────
  /api/users/me/stripe-connect:
    get:
      tags: [Stripe Connect]
      summary: Get Stripe Connect status
      description: Returns the court owner's Stripe Connect account status and payout info.
      operationId: getStripeConnectStatus
      responses:
        '200':
          description: Stripe Connect status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StripeConnectStatus'

  /api/users/me/stripe-connect/onboard:
    post:
      tags: [Stripe Connect]
      summary: Initiate Stripe Connect onboarding
      description: Returns a Stripe hosted onboarding URL for identity verification and bank account linking.
      operationId: initiateStripeOnboarding
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                returnUrl:
                  type: string
                  format: uri
                  description: URL to redirect after onboarding
                refreshUrl:
                  type: string
                  format: uri
                  description: URL if onboarding link expires
      responses:
        '200':
          description: Onboarding URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  onboardingUrl:
                    type: string
                    format: uri

  /api/users/me/stripe-connect/payouts:
    get:
      tags: [Stripe Connect]
      summary: Get payout history
      description: Returns payout schedule and history for the court owner.
      operationId: getPayoutHistory
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 0
        - name: size
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Payout history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayoutHistoryResponse'

  /api/users/me/stripe-connect/payout-schedule:
    put:
      tags: [Stripe Connect]
      summary: Update payout schedule
      description: Configure payout frequency (daily, weekly, monthly).
      operationId: updatePayoutSchedule
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [schedule]
              properties:
                schedule:
                  type: string
                  enum: [DAILY, WEEKLY, MONTHLY]
      responses:
        '200':
          description: Schedule updated

  # ─── Admin (PLATFORM_ADMIN) ────────────────────────────────────────────────
  /api/admin/users:
    get:
      tags: [Admin]
      summary: List all users
      description: Paginated user list with filtering. PLATFORM_ADMIN only.
      operationId: adminListUsers
      parameters:
        - name: role
          in: query
          schema:
            type: string
            enum: [CUSTOMER, COURT_OWNER, PLATFORM_ADMIN]
        - name: status
          in: query
          schema:
            type: string
            enum: [ACTIVE, SUSPENDED, DELETED]
        - name: search
          in: query
          schema:
            type: string
          description: Search by name or email
        - name: page
          in: query
          schema:
            type: integer
            default: 0
        - name: size
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: User list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUserListResponse'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/admin/users/{userId}/suspend:
    post:
      tags: [Admin]
      summary: Suspend a user
      description: Suspends a user account. PLATFORM_ADMIN only.
      operationId: adminSuspendUser
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
      responses:
        '200':
          description: User suspended

  /api/admin/users/{userId}/unsuspend:
    post:
      tags: [Admin]
      summary: Unsuspend a user
      operationId: adminUnsuspendUser
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: User unsuspended

  /api/admin/court-owners/{userId}/verify:
    post:
      tags: [Admin]
      summary: Verify a court owner
      description: Approves court owner verification. Courts become publicly visible.
      operationId: adminVerifyCourtOwner
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Court owner verified

  /api/admin/disputes:
    get:
      tags: [Admin]
      summary: List escalated disputes
      description: Returns payment disputes escalated for platform review. PLATFORM_ADMIN only.
      operationId: adminListDisputes
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [OPEN, IN_REVIEW, RESOLVED]
        - name: page
          in: query
          schema:
            type: integer
            default: 0
        - name: size
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Disputes list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminDisputeListResponse'

  /api/admin/disputes/{disputeId}/resolve:
    post:
      tags: [Admin]
      summary: Resolve a dispute
      operationId: adminResolveDispute
      parameters:
        - name: disputeId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [resolution]
              properties:
                resolution:
                  type: string
                  enum: [REFUND_CUSTOMER, SIDE_WITH_OWNER, PARTIAL_REFUND]
                refundPercentage:
                  type: integer
                  minimum: 0
                  maximum: 100
                notes:
                  type: string
      responses:
        '200':
          description: Dispute resolved

  # ─── Support ────────────────────────────────────────────────────────────────
  /api/support/tickets:
    post:
      tags: [Support]
      summary: Submit a support ticket
      description: |
        Creates a new support ticket. Auto-attaches user context (role, subscription status).
        When submitted from a booking/payment screen, context metadata (bookingId, paymentId) is included.
      operationId: createSupportTicket
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [category, subject, description]
              properties:
                category:
                  type: string
                  enum: [BOOKING, PAYMENT, ACCOUNT, TECHNICAL, PAYOUT_ISSUES, OTHER]
                subject:
                  type: string
                  maxLength: 200
                description:
                  type: string
                  maxLength: 5000
                contextMetadata:
                  type: string
                  description: JSON string with auto-attached context (bookingId, paymentId, errorCode, etc.)
                attachments:
                  type: array
                  items:
                    type: string
                    format: binary
                  maxItems: 5
                  description: Screenshots or images (max 5MB each)
                diagnosticLogs:
                  type: string
                  format: binary
                  description: Compressed app diagnostic logs (mobile only, max 5MB)
      responses:
        '201':
          description: Ticket created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportTicket'
    get:
      tags: [Support]
      summary: List user's support tickets
      description: Returns the authenticated user's support tickets.
      operationId: listUserSupportTickets
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [OPEN, IN_PROGRESS, AWAITING_USER, RESOLVED, CLOSED]
        - name: page
          in: query
          schema:
            type: integer
            default: 0
        - name: size
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Support tickets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportTicketListResponse'

  /api/support/tickets/{ticketId}:
    get:
      tags: [Support]
      summary: Get support ticket details
      description: Returns ticket details including conversation thread. Users see their own tickets; PLATFORM_ADMIN sees all.
      operationId: getSupportTicketDetails
      parameters:
        - $ref: '#/components/parameters/TicketId'
      responses:
        '200':
          description: Ticket details with messages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportTicketDetail'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/support/tickets/{ticketId}/messages:
    post:
      tags: [Support]
      summary: Add follow-up message to ticket
      description: User or admin adds a message to the ticket conversation thread.
      operationId: addTicketMessage
      parameters:
        - $ref: '#/components/parameters/TicketId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [message]
              properties:
                message:
                  type: string
                  maxLength: 5000
                attachments:
                  type: array
                  items:
                    type: string
                    format: binary
                  maxItems: 3
      responses:
        '201':
          description: Message added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportMessage'

  /api/support/tickets/{ticketId}/close:
    post:
      tags: [Support]
      summary: Close/resolve a ticket
      description: User closes their own ticket with optional satisfaction rating.
      operationId: closeSupportTicket
      parameters:
        - $ref: '#/components/parameters/TicketId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                satisfactionRating:
                  type: integer
                  minimum: 1
                  maximum: 5
                  nullable: true
                feedback:
                  type: string
                  maxLength: 500
                  nullable: true
      responses:
        '200':
          description: Ticket closed

  # ─── Admin Support Management ──────────────────────────────────────────────
  /api/admin/support/tickets:
    get:
      tags: [Support, Admin]
      summary: List all support tickets (admin)
      description: Returns all support tickets across all users. PLATFORM_ADMIN only.
      operationId: adminListSupportTickets
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [OPEN, IN_PROGRESS, AWAITING_USER, RESOLVED, CLOSED]
        - name: category
          in: query
          schema:
            type: string
            enum: [BOOKING, PAYMENT, ACCOUNT, TECHNICAL, PAYOUT_ISSUES, OTHER]
        - name: userRole
          in: query
          schema:
            type: string
            enum: [CUSTOMER, COURT_OWNER]
        - name: assignedTo
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by assigned admin
        - name: fromDate
          in: query
          schema:
            type: string
            format: date
        - name: toDate
          in: query
          schema:
            type: string
            format: date
        - name: page
          in: query
          schema:
            type: integer
            default: 0
        - name: size
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: All support tickets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportTicketListResponse'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/admin/support/tickets/{ticketId}/assign:
    post:
      tags: [Support, Admin]
      summary: Assign ticket to admin
      description: Assigns a support ticket to a PLATFORM_ADMIN user.
      operationId: adminAssignTicket
      parameters:
        - $ref: '#/components/parameters/TicketId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [assigneeId]
              properties:
                assigneeId:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Ticket assigned

  /api/admin/support/tickets/{ticketId}/status:
    put:
      tags: [Support, Admin]
      summary: Update ticket status (admin)
      description: Changes ticket status. PLATFORM_ADMIN only.
      operationId: adminUpdateTicketStatus
      parameters:
        - $ref: '#/components/parameters/TicketId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [OPEN, IN_PROGRESS, AWAITING_USER, RESOLVED, CLOSED]
      responses:
        '200':
          description: Status updated

  /api/admin/support/tickets/{ticketId}/notes:
    post:
      tags: [Support, Admin]
      summary: Add internal note to ticket
      description: Adds an internal note visible only to admins, not to the user.
      operationId: adminAddInternalNote
      parameters:
        - $ref: '#/components/parameters/TicketId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [note]
              properties:
                note:
                  type: string
                  maxLength: 5000
      responses:
        '201':
          description: Note added

  /api/admin/support/tickets/{ticketId}/user-activity:
    get:
      tags: [Support, Admin]
      summary: Get ticket user's recent activity
      description: Returns the ticket submitter's last 10 bookings and last 5 payments for diagnosis.
      operationId: adminGetUserActivity
      parameters:
        - $ref: '#/components/parameters/TicketId'
      responses:
        '200':
          description: User activity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserActivitySummary'

  /api/admin/support/metrics:
    get:
      tags: [Support, Admin]
      summary: Get support metrics
      description: Returns support performance metrics. PLATFORM_ADMIN only.
      operationId: adminGetSupportMetrics
      parameters:
        - name: fromDate
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: toDate
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Support metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportMetrics'

  # ─── Subscription ──────────────────────────────────────────────────────────
  /api/subscription:
    get:
      tags: [Subscription]
      summary: Get subscription status
      description: |
        Returns the court owner's current subscription details including tier, billing dates,
        payment method, and invoice history. COURT_OWNER only.
      operationId: getSubscription
      responses:
        '200':
          description: Subscription details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionDetail'
    post:
      tags: [Subscription]
      summary: Subscribe to a plan
      description: |
        Creates a Stripe Subscription for the court owner. Used after trial expires or
        to reactivate an expired subscription. COURT_OWNER only.
      operationId: createSubscription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tier, paymentMethodId]
              properties:
                tier:
                  type: string
                  enum: [BASIC, PRO]
                paymentMethodId:
                  type: string
                  description: Stripe payment method token from client-side Stripe Elements
      responses:
        '201':
          description: Subscription created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionDetail'
        '402':
          description: Payment failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags: [Subscription]
      summary: Change subscription tier
      description: |
        Upgrade (immediate proration) or downgrade (end of billing cycle). COURT_OWNER only.
      operationId: changeSubscriptionTier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tier]
              properties:
                tier:
                  type: string
                  enum: [BASIC, PRO]
      responses:
        '200':
          description: Tier changed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionDetail'
        '422':
          description: Already on this tier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags: [Subscription]
      summary: Cancel subscription
      description: |
        Cancels at end of current billing period. Access continues until period end. COURT_OWNER only.
      operationId: cancelSubscription
      responses:
        '200':
          description: Subscription cancelled
          content:
            application/json:
              schema:
                type: object
                properties:
                  subscriptionId:
                    type: string
                    format: uuid
                  status:
                    type: string
                    enum: [CANCEL_AT_PERIOD_END]
                  accessUntil:
                    type: string
                    format: date-time
        '422':
          description: Already cancelled

  # ─── Dashboard ──────────────────────────────────────────────────────────────
  /api/dashboard:
    get:
      tags: [Dashboard]
      summary: Get court owner dashboard overview
      description: |
        Returns today's bookings, pending confirmations, revenue, payout info, action-required
        counts, and recent notifications. COURT_OWNER only.
      operationId: getDashboard
      responses:
        '200':
          description: Dashboard overview
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardOverview'

  # ─── Settings ───────────────────────────────────────────────────────────────
  /api/settings/notification-preferences:
    get:
      tags: [Settings]
      summary: Get court owner notification preferences
      operationId: getNotificationPreferences
      responses:
        '200':
          description: Notification preferences
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourtOwnerNotificationPreferences'
    put:
      tags: [Settings]
      summary: Update court owner notification preferences
      description: Configure per-event-type channel preferences, do-not-disturb, and email digest.
      operationId: updateNotificationPreferences
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CourtOwnerNotificationPreferences'
      responses:
        '200':
          description: Preferences updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourtOwnerNotificationPreferences'

  /api/settings/court-defaults:
    get:
      tags: [Settings]
      summary: Get court defaults
      operationId: getCourtDefaults
      responses:
        '200':
          description: Court defaults
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourtDefaults'
    put:
      tags: [Settings]
      summary: Update court defaults
      description: Default settings applied when creating new courts.
      operationId: updateCourtDefaults
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CourtDefaults'
      responses:
        '200':
          description: Defaults updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourtDefaults'

  /api/settings/scheduled-reports:
    get:
      tags: [Settings]
      summary: Get scheduled report configuration
      operationId: getScheduledReports
      responses:
        '200':
          description: Scheduled report config
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledReportConfig'
    put:
      tags: [Settings]
      summary: Update scheduled report configuration
      description: Configure automatic weekly/monthly email reports.
      operationId: updateScheduledReports
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduledReportConfig'
      responses:
        '200':
          description: Config updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledReportConfig'

  /api/settings/reminder-rules:
    get:
      tags: [Settings]
      summary: List reminder rules
      description: Returns all reminder check rules for the court owner. Max 10 active rules.
      operationId: listReminderRules
      responses:
        '200':
          description: Reminder rules
          content:
            application/json:
              schema:
                type: object
                properties:
                  rules:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReminderRule'
                  totalCount:
                    type: integer
    post:
      tags: [Settings]
      summary: Create reminder rule
      operationId: createReminderRule
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReminderRuleRequest'
      responses:
        '201':
          description: Rule created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReminderRule'
        '422':
          description: Maximum 10 active rules reached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/settings/reminder-rules/{ruleId}:
    put:
      tags: [Settings]
      summary: Update reminder rule
      operationId: updateReminderRule
      parameters:
        - name: ruleId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReminderRuleRequest'
      responses:
        '200':
          description: Rule updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReminderRule'
    delete:
      tags: [Settings]
      summary: Delete reminder rule
      operationId: deleteReminderRule
      parameters:
        - name: ruleId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Rule deleted

  # ─── Audit Log ──────────────────────────────────────────────────────────────
  /api/audit-log:
    get:
      tags: [Audit Log]
      summary: Get court owner audit log
      description: |
        Returns immutable audit log entries for the authenticated court owner.
        Filterable by date range, action type, and resource type. Read-only.
        PLATFORM_ADMIN can view any court owner's audit log via /api/admin/audit-log.
      operationId: getAuditLog
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date
        - name: to
          in: query
          schema:
            type: string
            format: date
        - name: actionType
          in: query
          schema:
            type: string
          description: Comma-separated action types (e.g., COURT_CREATED,BOOKING_CONFIRMED)
        - name: resourceType
          in: query
          schema:
            type: string
          description: Comma-separated resource types (e.g., COURT,BOOKING)
        - name: page
          in: query
          schema:
            type: integer
            default: 0
        - name: size
          in: query
          schema:
            type: integer
            default: 50
        - name: sort
          in: query
          schema:
            type: string
            default: timestamp,desc
      responses:
        '200':
          description: Audit log entries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogResponse'

  # ─── Search ─────────────────────────────────────────────────────────────────
  /api/search:
    get:
      tags: [Search]
      summary: Global search
      description: |
        Searches across bookings (by ID, customer name, date), courts (by name),
        and promo codes (by code). Results grouped by category. COURT_OWNER only.
        Supports keyboard shortcut Ctrl+K in admin portal.
      operationId: globalSearch
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
            minLength: 2
        - name: types
          in: query
          schema:
            type: string
            default: BOOKING,COURT,PROMO_CODE
          description: Comma-separated result types to include
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: Search results grouped by category
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResults'

  # ─── Bulk Operations ────────────────────────────────────────────────────────
  /api/courts/bulk-update:
    post:
      tags: [Bulk Operations]
      summary: Bulk update courts
      description: |
        Apply changes to multiple courts in a single operation: pricing, availability,
        cancellation policy, confirmation mode, enable/disable. Each court validated
        independently. COURT_OWNER only.
      operationId: bulkUpdateCourts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [courtIds, changes]
              properties:
                courtIds:
                  type: array
                  items:
                    type: string
                    format: uuid
                changes:
                  type: object
                  properties:
                    basePrice:
                      type: number
                      format: decimal
                      nullable: true
                    confirmationMode:
                      $ref: '#/components/schemas/BookingConfirmationMode'
                    waitlistEnabled:
                      type: boolean
                      nullable: true
                    cancellationPolicy:
                      $ref: '#/components/schemas/CancellationPolicy'
                    availabilityWindows:
                      type: array
                      items:
                        $ref: '#/components/schemas/AvailabilityWindow'
                      nullable: true
      responses:
        '207':
          description: Multi-status with per-court results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkCourtUpdateResult'

  # ─── Verification ───────────────────────────────────────────────────────────
  /api/verification:
    post:
      tags: [Verification]
      summary: Submit verification documents
      description: |
        Court owner submits business documents for verification. Creates a PENDING_REVIEW request.
        Only one pending request allowed at a time.
      operationId: submitVerification
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [businessName, taxId, businessType, businessAddress, proofDocument]
              properties:
                businessName:
                  type: string
                taxId:
                  type: string
                businessType:
                  type: string
                  enum: [SOLE_PROPRIETOR, COMPANY, ASSOCIATION]
                businessAddress:
                  type: string
                proofDocument:
                  type: string
                  format: binary
                  description: PDF/JPEG/PNG, max 10MB
      responses:
        '201':
          description: Verification request created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationRequest'
        '409':
          description: Verification already pending
    get:
      tags: [Verification]
      summary: Get verification status
      description: Returns the court owner's current verification status and request history.
      operationId: getVerificationStatus
      responses:
        '200':
          description: Verification status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationStatus'

  /api/admin/verifications:
    get:
      tags: [Verification, Admin]
      summary: List pending verification requests
      description: Returns all pending verification requests. PLATFORM_ADMIN only.
      operationId: adminListVerifications
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [PENDING_REVIEW, APPROVED, REJECTED]
        - name: page
          in: query
          schema:
            type: integer
            default: 0
        - name: size
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Verification requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationListResponse'

  /api/admin/verifications/{requestId}/approve:
    post:
      tags: [Verification, Admin]
      summary: Approve verification request
      operationId: adminApproveVerification
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                notes:
                  type: string
                  nullable: true
      responses:
        '200':
          description: Verification approved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationRequest'

  /api/admin/verifications/{requestId}/reject:
    post:
      tags: [Verification, Admin]
      summary: Reject verification request
      operationId: adminRejectVerification
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason:
                  type: string
      responses:
        '200':
          description: Verification rejected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationRequest'

  # ─── Security (PLATFORM_ADMIN + SUPPORT_AGENT read-only) ───────────────────
  /api/admin/security/alerts:
    get:
      tags: [Security, Admin]
      summary: List security alerts
      description: |
        Returns paginated security alerts with filtering by status, severity, and alert type.
        SUPPORT_AGENT has read-only access. PLATFORM_ADMIN has full access.
      operationId: listSecurityAlerts
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [OPEN, ACKNOWLEDGED, INVESTIGATING, RESOLVED, FALSE_POSITIVE]
        - name: severity
          in: query
          schema:
            type: string
            enum: [LOW, MEDIUM, HIGH, CRITICAL]
        - name: alertType
          in: query
          schema:
            type: string
            enum: [BOOKING_ABUSE, PAYMENT_FRAUD, SCRAPING, BRUTE_FORCE, SUSPICIOUS_LOGIN, RATE_LIMIT_EXCEEDED, WEBHOOK_REPLAY, ACCOUNT_TAKEOVER]
        - name: fromDate
          in: query
          schema:
            type: string
            format: date-time
        - name: toDate
          in: query
          schema:
            type: string
            format: date-time
        - name: page
          in: query
          schema:
            type: integer
            default: 0
        - name: size
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Paginated list of security alerts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityAlertListResponse'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/admin/security/alerts/{alertId}/acknowledge:
    post:
      tags: [Security, Admin]
      summary: Acknowledge a security alert
      description: Marks an alert as acknowledged. PLATFORM_ADMIN only.
      operationId: acknowledgeSecurityAlert
      parameters:
        - name: alertId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Alert acknowledged
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityAlert'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/admin/security/alerts/{alertId}/resolve:
    post:
      tags: [Security, Admin]
      summary: Resolve a security alert
      description: Marks an alert as resolved with resolution notes. PLATFORM_ADMIN only.
      operationId: resolveSecurityAlert
      parameters:
        - name: alertId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [RESOLVED, FALSE_POSITIVE]
                resolutionNotes:
                  type: string
      responses:
        '200':
          description: Alert resolved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityAlert'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/admin/security/ip-blocklist:
    get:
      tags: [Security, Admin]
      summary: List blocked IPs
      description: Returns all currently blocked IP addresses. PLATFORM_ADMIN and SUPPORT_AGENT (read-only).
      operationId: listBlockedIps
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 0
        - name: size
          in: query
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: List of blocked IPs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpBlocklistResponse'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags: [Security, Admin]
      summary: Block an IP address
      description: Adds an IP address to the blocklist. PLATFORM_ADMIN only.
      operationId: blockIpAddress
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ipAddress, reason]
              properties:
                ipAddress:
                  type: string
                  description: IPv4 or IPv6 address
                cidrRange:
                  type: string
                  description: Optional CIDR notation for range blocks
                reason:
                  type: string
                relatedAlertId:
                  type: string
                  format: uuid
                expiresAt:
                  type: string
                  format: date-time
                  description: Null for permanent blocks
      responses:
        '201':
          description: IP blocked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpBlocklistEntry'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: IP address already blocked

  /api/admin/security/ip-blocklist/{entryId}:
    delete:
      tags: [Security, Admin]
      summary: Unblock an IP address
      description: Removes an IP address from the blocklist. PLATFORM_ADMIN only.
      operationId: unblockIpAddress
      parameters:
        - name: entryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: IP unblocked
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/admin/security/config:
    get:
      tags: [Security, Admin]
      summary: Get abuse detection configuration
      description: Returns current thresholds for abuse detection rules. PLATFORM_ADMIN only.
      operationId: getSecurityConfig
      responses:
        '200':
          description: Security configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityConfig'
        '403':
          $ref: '#/components/responses/Forbidden'
    put:
      tags: [Security, Admin]
      summary: Update abuse detection configuration
      description: Updates thresholds for abuse detection rules. PLATFORM_ADMIN only.
      operationId: updateSecurityConfig
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecurityConfig'
      responses:
        '200':
          description: Configuration updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityConfig'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'


  # ─── Internal Service-to-Service ────────────────────────────────────────────
  /internal/courts/{courtId}/validate-slot:
    get:
      tags: [Internal]
      summary: Validate court slot availability
      description: |
        Internal endpoint called by Transaction Service to validate that a court slot is available
        for booking. Checks availability windows, overrides, and existing booking conflicts.
        
        **Not exposed through NGINX Ingress** — only reachable within the Kubernetes cluster.
        
        **Authentication:**
        - dev/test: X-Internal-Api-Key header (shared secret via INTERNAL_API_KEY env var)
        - staging/prod: mTLS via Istio (no app-level auth needed)
      operationId: validateSlot
      security:
        - InternalApiKey: []
      parameters:
        - $ref: '#/components/parameters/CourtId'
        - $ref: '#/components/parameters/InternalApiKey'
        - name: date
          in: query
          required: true
          schema:
            type: string
            format: date
          example: '2026-02-15'
        - name: startTime
          in: query
          required: true
          schema:
            type: string
            pattern: '^\d{2}:\d{2}$'
          description: Start time in HH:mm format (court's local timezone)
          example: '10:00'
        - name: endTime
          in: query
          required: true
          schema:
            type: string
            pattern: '^\d{2}:\d{2}$'
          description: End time in HH:mm format (court's local timezone)
          example: '11:00'
      responses:
        '200':
          description: Slot validation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlotValidationResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          description: Invalid or missing X-Internal-Api-Key (dev/test only)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /internal/courts/{courtId}/calculate-price:
    get:
      tags: [Internal]
      summary: Calculate booking price
      description: |
        Internal endpoint called by Transaction Service to calculate the price for a booking slot.
        Applies base price, pricing rules (peak/off-peak multipliers), special date pricing, and promo codes.
        
        **Not exposed through NGINX Ingress** — only reachable within the Kubernetes cluster.
        
        **Authentication:**
        - dev/test: X-Internal-Api-Key header (shared secret via INTERNAL_API_KEY env var)
        - staging/prod: mTLS via Istio (no app-level auth needed)
        
        **Pricing Calculation Order:**
        1. Start with court's base price (basePriceCents)
        2. Apply pricing rule multiplier if time slot matches a rule (peak/off-peak)
        3. Apply special date multiplier if date matches (holidays, events)
        4. Calculate subtotal (basePriceCents × multiplier × specialDateMultiplier)
        5. Apply promo code discount if valid
        6. Return finalPriceCents
      operationId: calculatePrice
      security:
        - InternalApiKey: []
      parameters:
        - $ref: '#/components/parameters/CourtId'
        - $ref: '#/components/parameters/InternalApiKey'
        - name: date
          in: query
          required: true
          schema:
            type: string
            format: date
          example: '2026-02-15'
        - name: startTime
          in: query
          required: true
          schema:
            type: string
            pattern: '^\d{2}:\d{2}$'
          description: Start time in HH:mm format (court's local timezone)
          example: '10:00'
        - name: endTime
          in: query
          required: true
          schema:
            type: string
            pattern: '^\d{2}:\d{2}$'
          description: End time in HH:mm format (court's local timezone)
          example: '11:00'
        - name: promoCode
          in: query
          schema:
            type: string
            maxLength: 20
          description: Optional promo code to validate and apply
          example: 'SUMMER20'
        - name: courtType
          in: query
          schema:
            type: string
            enum: [TENNIS, PADEL, BASKETBALL, FOOTBALL_5X5]
          description: Court type for promo code validation (required if promoCode is provided and has court type restrictions)
      responses:
        '200':
          description: Price calculation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceCalculationResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          description: Invalid or missing X-Internal-Api-Key (dev/test only)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /internal/promo-codes/validate:
    post:
      tags: [Internal]
      summary: Validate promo code for booking
      description: |
        Internal endpoint called by Transaction Service to validate a promo code before booking.
        Performs comprehensive validation including:
        - Code existence and active status
        - Date validity (validFrom/validUntil)
        - Usage limits (global max_uses and per-user max_uses_per_user)
        - Court type restrictions
        - Minimum booking amount requirements
        
        **Not exposed through NGINX Ingress** — only reachable within the Kubernetes cluster.
        
        **Authentication:**
        - dev/test: X-Internal-Api-Key header
        - staging/prod: mTLS via Istio
        
        **Note:** This endpoint does NOT increment usage count. Use `/internal/promo-codes/redeem` 
        after booking is confirmed.
      operationId: validatePromoCode
      security:
        - InternalApiKey: []
      parameters:
        - $ref: '#/components/parameters/InternalApiKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromoCodeValidationRequest'
      responses:
        '200':
          description: Promo code validation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromoCodeValidationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          description: Invalid or missing X-Internal-Api-Key (dev/test only)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /internal/promo-codes/redeem:
    post:
      tags: [Internal]
      summary: Redeem promo code (increment usage)
      description: |
        Internal endpoint called by Transaction Service when a booking with a promo code is confirmed.
        Atomically increments the promo code's `current_uses` counter.
        
        **Idempotency:** Uses bookingId as idempotency key. Calling multiple times with the same
        bookingId will only increment usage once.
        
        **Not exposed through NGINX Ingress** — only reachable within the Kubernetes cluster.
        
        **Authentication:**
        - dev/test: X-Internal-Api-Key header
        - staging/prod: mTLS via Istio
        
        **When to call:** After booking status changes to CONFIRMED and payment is captured.
      operationId: redeemPromoCode
      security:
        - InternalApiKey: []
      parameters:
        - $ref: '#/components/parameters/InternalApiKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromoCodeRedemptionRequest'
      responses:
        '200':
          description: Promo code redeemed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromoCodeRedemptionResponse'
        '400':
          description: |
            Invalid request. Error codes:
            - `PROMO_CODE_NOT_FOUND` — Code doesn't exist
            - `PROMO_CODE_INACTIVE` — Code is deactivated
            - `PROMO_CODE_EXPIRED` — Code has expired
            - `PROMO_CODE_USAGE_LIMIT_REACHED` — Global usage limit reached
            - `PROMO_CODE_USER_LIMIT_REACHED` — Per-user usage limit reached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing X-Internal-Api-Key (dev/test only)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Promo code already redeemed for this booking (idempotency check)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /internal/promo-codes/rollback:
    post:
      tags: [Internal]
      summary: Rollback promo code redemption (decrement usage)
      description: |
        Internal endpoint called by Transaction Service when a booking with a promo code is 
        cancelled or refunded. Atomically decrements the promo code's `current_uses` counter.
        
        **Idempotency:** Uses bookingId as idempotency key. Calling multiple times with the same
        bookingId will only decrement usage once.
        
        **Not exposed through NGINX Ingress** — only reachable within the Kubernetes cluster.
        
        **Authentication:**
        - dev/test: X-Internal-Api-Key header
        - staging/prod: mTLS via Istio
        
        **When to call:** After booking is cancelled and refund is processed.
      operationId: rollbackPromoCode
      security:
        - InternalApiKey: []
      parameters:
        - $ref: '#/components/parameters/InternalApiKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromoCodeRollbackRequest'
      responses:
        '200':
          description: Promo code usage rolled back successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromoCodeRollbackResponse'
        '400':
          description: |
            Invalid request. Error codes:
            - `PROMO_CODE_NOT_FOUND` — Code doesn't exist
            - `BOOKING_NOT_FOUND` — No redemption record for this booking
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing X-Internal-Api-Key (dev/test only)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /internal/users/{userId}/stripe-connect-status:
    get:
      tags: [Internal]
      summary: Get court owner's Stripe Connect status
      description: |
        Internal endpoint called by Transaction Service to fetch fresh Stripe Connect status
        before critical payment operations (capture, transfer). This ensures we never attempt
        to capture payments to a RESTRICTED or DISABLED account.
        
        **Not exposed through NGINX Ingress** — only reachable within the Kubernetes cluster.
        
        **Authentication:**
        - dev/test: X-Internal-Api-Key header
        - staging/prod: mTLS via Istio
        
        **When to call:**
        - Before capturing a PaymentIntent (booking confirmation)
        - Before creating a Stripe Transfer to court owner
        - When cached status is stale (>5 minutes old)
        
        **Why not just use the cross-schema view?**
        The view provides eventually-consistent data. For payment operations, we need the
        authoritative status from Platform Service which may have just processed a Stripe webhook.
      operationId: getStripeConnectStatus
      security:
        - InternalApiKey: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Court owner's user ID
        - $ref: '#/components/parameters/InternalApiKey'
      responses:
        '200':
          description: Stripe Connect status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StripeConnectStatusResponse'
        '401':
          description: Invalid or missing X-Internal-Api-Key (dev/test only)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: User not found or not a court owner
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'


# ═══════════════════════════════════════════════════════════════════════════════
# Components
# ═══════════════════════════════════════════════════════════════════════════════
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: RS256 JWT access token. See Requirement 1 for claims structure.

    InternalApiKey:
      type: apiKey
      in: header
      name: X-Internal-Api-Key
      description: |
        Internal service-to-service authentication for dev/test environments.
        In staging/prod, mTLS via Istio handles authentication instead — this header is ignored.
        The key is configured via INTERNAL_API_KEY environment variable.

  parameters:
    CourtId:
      name: courtId
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Court unique identifier
    TicketId:
      name: ticketId
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Support ticket unique identifier
    IdempotencyKey:
      name: X-Idempotency-Key
      in: header
      required: false
      schema:
        type: string
        format: uuid
      description: |
        Client-generated UUID v4 for request deduplication. Required for state-changing
        operations (court creation, rating submission, support ticket creation). The server
        will return the same response for duplicate requests with the same idempotency key
        within 24 hours.

    InternalApiKey:
      name: X-Internal-Api-Key
      in: header
      required: false
      schema:
        type: string
      description: |
        Internal service-to-service authentication key for dev/test environments.
        Required when calling /internal/* endpoints in dev/test.
        In staging/prod, mTLS via Istio handles authentication — this header is ignored.

  responses:
    BadRequest:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Missing or invalid authentication
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Insufficient permissions for this operation
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Conflict:
      description: Resource conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    RateLimited:
      description: Too many requests — rate limit exceeded
      headers:
        Retry-After:
          schema:
            type: integer
          description: Number of seconds to wait before retrying
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    # ─── Enums ──────────────────────────────────────────────────────────────
    CourtType:
      type: string
      enum: [TENNIS, PADEL, BASKETBALL, FOOTBALL_5X5]

    LocationType:
      type: string
      enum: [INDOOR, OUTDOOR]

    UserRole:
      type: string
      enum: [CUSTOMER, COURT_OWNER, SUPPORT_AGENT, PLATFORM_ADMIN]

    BookingConfirmationMode:
      type: string
      enum: [INSTANT, MANUAL]

    SubscriptionStatus:
      type: string
      enum: [TRIAL, ACTIVE, EXPIRED, NONE]

    StripeAccountStatus:
      type: string
      enum: [PENDING, ACTIVE, RESTRICTED, DISABLED, NOT_STARTED]

    # ─── Auth ───────────────────────────────────────────────────────────────
    RegisterRequest:
      type: object
      required: [oauthProvider, oauthToken, role, termsAccepted]
      properties:
        oauthProvider:
          type: string
          enum: [GOOGLE, FACEBOOK, APPLE]
        oauthToken:
          type: string
          description: OAuth access token from provider
        role:
[...]
